body
{
    background: rgb(168, 30, 88);
    color: ghostwhite;

}

.heading
{
    width: 80%;
    font-size: 24px;
}

.name_of_objects
{
    color: rgb(218, 155, 190);
}

#camera
{
    border: 2px dashed ghostwhite;
    width: 350px;
    height: 300px;
}